<template>
    <div class="container">
        <div class="title2" style="text-align: center !important;">
            Colabore com a sustentabilidade financeira da universidade e faça sua voz ser ouvida,<br><span class="big">denuncie</span>
        </div>
        <div class="field">
            <input class="input" type="text" placeholder="Instituto">
        </div>
        <div class="field">
                <textarea class="textarea" type="textarea" placeholder="Detalhes (data aproximada, etc)"/>
        </div>
        <button class="button is-success" style="font-family: inherit" onclick="document.querySelector('.modal').classList.toggle('is-active');">Enviar</button>

        <div class="modal">
            <div class="modal-background"></div>
            <div class="modal-content">
                <p class="modal-message">
                    Denúncia registrada, agradecemos a colaboração. <br>
                    <button class="button is-success abel" aria-label="close" onclick="document.querySelector('.modal').classList.toggle('is-active');">
                    Entendi
                    </button>
                </p>
            </div>
            </div>
    </div>
</template>

<script>
</script>

<style>
.container {
    margin-top: 10em;
    max-width: 35em;
}

.modal-message {
    padding: 0.5em;
    border-radius: 1em;
    background-color: white;
    font-size: 2em;
}

.title2 {
    font-size: 1.5em;
}

.big {
    font-size: 2em;
}
</style>