<template>
    <footer class="footer is-info">
        <p> <b>HackathonUSP 2018</b>.2 </p>
    </footer> 
</template>

<style>
footer.footer{
    background-color: #00DCB2;
    font-size: 1.25rem;
    color: white;
    height: 50px;
    margin-top: 50px;
    width: 100%;
}
</style>





