<template>
   <div>
     <apexcharts class="container" width="400" type="line" :options="options" :series="series"></apexcharts>
   </div>
</template>


<script>
import VueApexCharts from 'vue-apexcharts'

var ano = [2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002,2001,2000];
var inflacao = [10.67,6.41,5.91,5.83,6.5,5.9,4.31,5.9,4.45,3.14,5.69,7.6,9.3,12.53,7.67,5.97];

export default {
    components: {
      apexcharts: VueApexCharts,
    },
    data: function() {
      return {
        options: {
          chart: {
            id: 'vuechart-example'
          },
          xaxis: {
            categories: ano
          }
        },
        series: [{
          name: 'series-1',
          data: inflacao
        }]
      }
    },
};
</script>
