<template>
   <div>
     <apexcharts class="container" width="400" type="line" :options="options" :series="series"></apexcharts>
   </div>
</template>


<script>
import VueApexCharts from 'vue-apexcharts'

var ano = [2012,2013,2014,2015];

var arrecada = [4.376, 4.725, 5.017, 5.321];

export default {
    components: {
      apexcharts: VueApexCharts,
    },
    data: function() {
      return {
        options: {
          chart: {
            id: 'vuechart-example'
          },
          xaxis: {
            categories: ano
          }
        },
        series: [{
          name: 'Arrecadação da USP',
          data: arrecada
        }]
      }
    },
};
</script>
