<template>
   <div>
     <apexcharts class="container" width="700" type="line" :options="options" :series="series"></apexcharts>
   </div>
</template>


<script>
import VueApexCharts from 'vue-apexcharts'


export default {
    components: {
      apexcharts: VueApexCharts,
    },
    props: ['data', 'data2'],
    watch: {
      data: function() {
         console.log(this.data);
         if (this.data == null) {
            console.log(this.series);
            /*this.series = [];*/
            this.series.pop();
            console.log(this.series);
            return;
         }
         var serie = this.data.data.map(x => x.date);
         var data = this.data.data.map((x, i) => [serie[i], x.value['$numberDecimal']/1000]);

         this.series.push({
            name: this.data.nome,
            data: data
         });
      },

      data2: function() {
         var serie = this.data2.data.map(x => x.date);
         var data = this.data2.data.map((x, i) => [serie[i], x.value['$numberDecimal']/1000]);
         ultimo = this.data2.nome;

         this.series.push({
            name: this.data2.nome,
            data: data
         });
      }
    },
    data: function() {
      return {
         series: [],
        options: {
          chart: {
            id: 'vuechart-example'
          },
        }
      }
    },
};
</script>
