<template>
   <div class="container">
     <apexcharts class="container" title="jhg" width="90%" type="bar" :options="chartOptions" :series="series"></apexcharts>
   </div>
</template>


<script>
import data from "../assets/data/data.json"
import VueApexCharts from 'vue-apexcharts'

export default {
    components: {
      apexcharts: VueApexCharts,
    },
    data: function() {
      return {
        chartOptions: {
          chart: {
            id: 'vuechart-example'
          },
          colors: ["#ff0000"],
          title: {
              text: "Gastos com Serviço de Limpeza por metro quadrado por Unidade",
              align: "center",
              style: {
                fontSize: "20px"
              }
            },
          xaxis: {
            labels: {
              show: true,
              style: {
                cssClass: "Unidades"
              }
            },
            title: {
              text: "Unidade",
              style: {
                fontSize: "20px"
              }
            },
            categories: data["limpeza"].map(p=> p["unidade"])
          },
          yaxis: {
            show: true,
            seriesName: "Gasto/m²",
            title: {
              text: "Gasto/m²",
              style: {
                fontSize: "20px"
              }
            }
          }
        },
        series: [{
          name: 'series-1',
          data: data["limpeza"].map(p=> p["gastos"])
        }]
      }
    },
};
</script>

<style>
.container{
  padding-top: 30px;
}
.title{
  color: black;
}
</style>
