<template>
   <div>
     <apexcharts class="container" width="400" type="line" :options="options" :series="series"></apexcharts>
   </div>
</template>


<script>
import VueApexCharts from 'vue-apexcharts'

var ano = [2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015];

var icms = [32618862, 33688541, 37292971, 40289405, 45922206, 51001254, 57788447, 63192390, 74373238, 78572177, 92316756, 107726893, 109013538, 121912220, 122836141, 125990235];

for (var i = 0; i < icms.length; i++) {
   icms[i] = icms[i]/1000000;
}

export default {
    components: {
      apexcharts: VueApexCharts,
    },
    data: function() {
      return {
        options: {
          chart: {
            id: 'vuechart-example'
          },
          xaxis: {
            categories: ano
          }
        },
        series: [{
          name: 'ICMS',
          data: icms
        }]
      }
    },
};
</script>
