<template>
   <div>
     <apexcharts class="container" width="400" type="line" :options="options" :series="series"></apexcharts>
   </div>
</template>


<script>
import VueApexCharts from 'vue-apexcharts'

var gastos = [2383661838, 2815994149, 2979621845, 3598437761, 3977168880, 4305557893, 4595784129, 4838711073];
var ano = [2007, 2009, 2010, 2011, 2012, 2013, 2014, 2015];
gastos = gastos.map(x => x/1e9);

export default {
    components: {
      apexcharts: VueApexCharts,
    },
    data: function() {
      return {
        options: {
          chart: {
            id: 'vuechart-example'
          },
          xaxis: {
            categories: ano
          }
        },
        series: [{
          name: 'Gastos',
          data: gastos
        }]
      }
    },
};
</script>
