<template>
    <nav class="navbar is-fixed-top is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item">
      <!-- <img src="https://image.flaticon.com/icons/svg/138/138283.svg" width="100" height="50px"> -->
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/">
        Home
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Pesquisa
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" href="/instituto">
            Por unidade
          </a>
          <a class="navbar-item" href="/receita">
            Receita
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item" href="/limpeza">
            Relatório
          </a>
        </div>
      </div>
      <a class="navbar-item" href="https://gitlab.com/gabrandao/hackathon2018">
        Documentação
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary" href="/discussao">
            <strong>Discutir</strong>
          </a>

          <a class="button is-light" href="/denuncia">
            Denunciar
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
</template>

<style>

.navbar{
  font-size: 1.25rem;
  height: 80px;
  width: 100%;
  box-shadow: 0px 1px 5px #999;
}
</style>

<script>
</script>
