<template>
<div class="field">
  <label class="label">Buscar unidades:</label>
  <div class="control">
    <input class="input" type="text" placeholder="Text input">
  </div>
</div>
</template>

<style>
    input {
        /* margin-left: 80px; */
        width: 80%;
    }
</style>

