  <template>
    <div class="field">
      <div class="control">
        <div class="select">
          <select @change="institutoSelected">

            <option value="0">Selecionar Instituto</option>
            <option value="92">Agência USP de Cooperação Acadêmica Nacional e Internacional</option>
            <option value="101">Agência USP Inovação</option>
            <option value="63">Centro de Práticas Esportivas da Universidade de São Paulo</option>
            <option value="70">Centro de Tecnologia da Informação de São Paulo</option>
            <option value="91">Editora da Universidade de São Paulo</option>
            <option value="86">Escola de Artes, Ciências e Humanidades</option>
            <option value="27">Escola de Comunicações e Artes</option>
            <option value="39">Escola de Educação Física e Esporte</option>
            <option value="7">Escola de Enfermagem</option>
            <option value="3">Escola Politécnica</option>
            <option value="16">Faculdade de Arquitetura e Urbanismo</option>
            <option value="9">Faculdade de Ciências Farmacêuticas</option>
            <option value="2">Faculdade de Direito</option>
            <option value="12">Faculdade de Economia, Administração e Contabilidade</option>
            <option value="48">Faculdade de Educação</option>
            <option value="8">Faculdade de Filosofia, Letras e Ciências Humanas</option>
            <option value="5">Faculdade de Medicina</option>
            <option value="10">Faculdade de Medicina Veterinária e Zootecnia</option>
            <option value="23">Faculdade de Odontologia</option>
            <option value="6">Faculdade de Saúde Pública</option>
            <option value="62">Hospital Universitário</option>
            <option value="103">Instituto de Arquitetura e Urbanismo</option>
            <option value="14">Instituto de Astronomia, Geofísica e Ciências Atmosféricas</option>
            <option value="41">Instituto de Biociências</option>
            <option value="42">Instituto de Ciências Biomédicas</option>
            <option value="4">Instituto de Energia e Ambiente</option>
            <option value="31">Instituto de Estudos Brasileiros</option>
            <option value="43">Instituto de Física</option>
            <option value="44">Instituto de Geociências</option>
            <option value="45">Instituto de Matemática e Estatística</option>
            <option value="83">Instituto de Medicina Tropical de São Paulo</option>
            <option value="47">Instituto de Psicologia</option>
            <option value="46">Instituto de Química</option>
            <option value="87">Instituto de Relações Internacionais</option>
            <option value="21">Instituto Oceanográfico</option>
            <option value="71">Museu de Arqueologia e Etnologia</option>
            <option value="32">Museu de Arte Contemporânea</option>
            <option value="38">Museu de Zoologia</option>
            <option value="33">Museu Paulista</option>
            <option value="49">Prefeitura do Campus USP da Capital</option>
            <option value="93">Pró - Reitoria de Cultura e Extensão Universitária</option>
            <option value="1">Reitoria da Universidade de São Paulo</option>
            <option value="50">Serviço de Verificação de Óbitos da Capital</option>
            <option value="35">Superintendência de Assistência Social</option>
            <option value="56">Superintendência de Comunicação Social</option>
            <option value="84">Superintendência de Tecnologia da Informação</option>
            <option value="82">Superintendência do Espaço Físico</option>

          </select>
        </div>
      </div>
    </div>
</template>

<script>
export default {

    props: ['instituto'],
    methods: {
      institutoSelected: function(id) {
        this.$emit('selected', id);
      }
    },
}
</script>
