<template>
<div class="abel main">

  <denuncia/>

</div>
</template>

<script>
import Navbar from "../components/Navbar.vue";
import Footer from "../components/Footer.vue";
import denuncia from "../components/denuncia.vue";

export default {
  components: {
    Navbar,
    Footer,
    denuncia,
  }
}
</script>

<style>
</style>

