<template>
<div class="container" style="padding-top: 40px;">

<div class="field">
  <div class="control">
    <input class="input" type="text" placeholder="Buscar posts">
    <hr/>
  </div>
</div>

<article class="media">

<div class="media-content" style="margin: auto">
    <div class="field">
      <p class="control">
        <textarea class="textarea" placeholder="Pergunte alguma coisa ou inicie uma nova discussão!"></textarea>
      </p>
    </div>
    <div class="field">
      <p class="control">
        <button class="button is-primary">Publicar</button>
      </p>
    </div>
</div>
</article>

<article class="media">
  <figure class="media-left">
    <p class="image is-64x64">
      <img src="https://image.freepik.com/free-icon/profile-user_318-80283.jpg">
    </p>
  </figure>
  <div class="media-content">
    <div class="content">
      <p>
        <strong>Lucas</strong>
        <br>
        Pessoal, alguém tem alguma ideia do motivo da Faculdade de Medicina gastar valores tão altos em relação aos outros institutos?
        <br>
        <small><a>Apoiar</a> · <a>Responder</a> · 3 hrs</small>
      </p>
    </div>

    <article class="media">
      <figure class="media-left">
        <p class="image is-48x48">
          <img src="https://image.freepik.com/free-icon/profile-user_318-80283.jpg">
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>Evandro</strong>
            <br>
            Também queria saber!
            <br>
            <small><a>Apoiar</a> · <a>Responder</a> · 3 hrs</small>
          </p>
        </div>
      </div>
    </article>

    <article class="media">
      <figure class="media-left">
        <p class="image is-48x48">
          <img src="https://image.freepik.com/free-icon/profile-user_318-80283.jpg">
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>Rodrigo</strong>
            <br>
            Acredito que isso aconteça porque precisam de um serviço mais completo, pois devem usar salas de cirurgia, etc..
            <br>
            <small><a>Apoiar</a> · <a>Responder</a> · 3 hrs</small>
          </p>
        </div>
      </div>
    </article>
  </div>
</article>
<article class="media">
  <figure class="media-left">
    <p class="image is-64x64">
      <img src="https://image.freepik.com/free-icon/profile-user_318-80283.jpg">
    </p>
  </figure>
  <div class="media-content">
    <div class="field">
      <p class="control">
        <textarea class="textarea" placeholder="Add a comment..."></textarea>
      </p>
    </div>
    <div class="field">
      <p class="control">
        <button class="button">Post comment</button>
      </p>
    </div>
  </div>
</article>
    </div>
</template>

<script>
</script>

<style>
</style>
