<template>
<div class = "html">
  <div  class="body">

    <p style="font-size: 4rem; color: #000000; padding-top: 40px;padding-bottom: 20px;"> <b>Transparência Universitária</b> </p>
    
    <div class="tile is-ancestor">
      <div class="tile is-parent">
        <article class="tile is-child box">
          <img src="https://image.flaticon.com/icons/svg/262/262563.svg" width="150px"> 
          <p class="title">Integrar</p>
          <p class="subtitle">Conectar os dados em uma plataforma unificada. </p>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child box">
          <img src="https://image.flaticon.com/icons/svg/1139/1139357.svg" width="150px">
          <p class="title">Comparar</p>
          <p class="subtitle">Relacionar os dados entre Unidades.</p>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child box">
          <img src="https://image.flaticon.com/icons/svg/1140/1140496.svg" width="150px">
          <p class="title">Identificar</p>
          <p class="subtitle">Obter conclusões da análise dos dados.</p>
        </article>
      </div>
    </div>
    <!-- <input type="text" v-model="message" placeholder="edit me"> -->

    <hr/>
    
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Pesquisa por Unidade: </label>
      </div>
      <div class="field-body">
        <div class="field">
          <p class="control">
            <input class="input" v-model="message" @keyup.enter="redirect" type="text" placeholder="Escola, Faculdade ou Instituto ">
          </p>
        </div>
      </div>
    </div>
    <!-- <input type="text" v-model="message" placeholder="edit me">  -->
  </div>
  <!-- <input type="text" v-model="message" placeholder="edit me"> -->
</div>
</template>

<script>
import Navbar from "../components/Navbar.vue";
import Grafico from "../components/GraficoTop10.vue";
import Search from "../components/Search.vue";
import Footer from "../components/Footer.vue";
import compareinst from "../components/Compareinst.vue"
import denuncia from "../components/denuncia.vue";
import discutir from "../components/discutir.vue";

export default {
  components: {
    Navbar,
    Grafico,
    Footer,
    Search,
    denuncia,
    discutir,
    compareinst
  },
  methods: {
    redirect() {
      this.$router.history.push(`/${this.message}`)
    }
  },
  data() {
    return {
      message: ''
    }
  }
}
</script>

<style scoped>
  .title {
    padding: 40px;
  }

  .field{
    padding-left: 3rem;
  }
  .input {
    width: 80%;
    padding-right: 2rem;
  }

  .tile{
    padding-left: 2rem;
    padding-right: 2rem;
  }

</style>

