<template>
    <div style="margin-top: 100px; text-align: center" class="container">
    <h1 style="font-size: 30px">Gastos de limpeza</h1>
    <br>

    <div class="wrapper">
        <div style="align-self: center; display: flex" >
        <SelectInstituto @selected="query" style="margin-right: 10px;"/>
        <button class="button" style="width: auto" @click="limpar()">Limpar</button>
        </div>

        <grafico :data="limpezaX" :data2="limpezaY" class="x"/>
    </div>

    <span>Valores em mil reais</span>
    </div>
</template>

<script>
import Grafico from "../components/GraficoTop10.vue";
import SelectInstituto from "../components/SelectInstituto.vue";

export default {
    components: {
      Grafico,
      SelectInstituto,
    },
    watch: {
      institutoA() {
        console.log('asdf');
      }
    },
    methods: {
      limpar() {
        this.limpezaX = null;
      },
      query(el) {
        let resp;
        var self = this;
        fetch('http://127.0.0.1:5000/limpeza?instituto=' + el.target.value).then(function(data) {
          return data.json();
        }).then(function(data) {
          self.limpezaX = {data: data, nome: el.target[el.target.selectedIndex].innerText};
        });
      },
    },
    data() {

      return {
        message: "",
        limpezaX: [],
        limpezaY: [],
        limpezaArea: [],
        institutoA: 0,
        institutoB: 0,
      }
    }
}
</script>

<style>
    .wrapper {
      display: flex;
      flex-direction: column;
    }
    .x {
      display: block;
      justify-self: center;
      align-self: center;
      margin: auto;
      width: auto !important;
    }
    .x > div {
      width: auto !important;
    }
</style>
