<template>
    <div class="level">
        <Graf-barra class="level-item"/>
        <div class="card level-item">
            <div class="card-content">
                <h1><b>Nivel de discrepância:</b> Alto</h1> <br/>
                <h1><b> Maior gasto: IRI </b> - R$ 509.112</h1> <br/>
                <h1><b> Potêncial de economia:</b> <br/>R$ 334.758,58</h1>
            </div>
        </div>
    </div>
</template>

<script>
import data from "../assets/data/data.json"
import GrafBarra from "../components/GrafBarra.vue"

export default {
    components: {
        GrafBarra
    },
    data () {
        return {
        inst: data
        }
    },
}
</script>

<style>
.card{
    width: 200px;
    padding-right: 10px;
}
</style>

