<template>
    <div style="margin-top: 100px; text-align: center; display: flex;flex-flow: column;align-items:center; justify-content: center" class="container" >
    <h1 style="font-size: 30px">Receita</h1>
    <br>

    <div class="wrapper">
        <div>
        <h1>Inflação (IPCA % a.a.)</h1>
        <grafico class="x"/>
        </div>

        <div>
        <h1>Arrecadação do ICMS</h1>
        <ICMS class="x"/>
        </div>

        <div>
        <h1>Gastos da USP</h1>
        <Gastos class="x"/>
        </div>

        <div>
        <h1>Arrecadação da USP</h1>
        <Arrecada class="x"/>
        </div>
    </div>

    <span>Valores em bilhões de reais</span>
    </div>
</template>

<script>
import Grafico from "../components/GraficoInflacao.vue";
import ICMS from "../components/GraficoICMS.vue";
import Gastos from "../components/GraficoGastos.vue";
import Arrecada from "../components/GraficoArrecadacaoUSP.vue";
import SelectInstituto from "../components/SelectInstituto.vue";

var ano = [2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002,2001,2000];
var inflacao = [10.67,6.41,5.91,5.83,6.5,5.9,4.31,5.9,4.45,3.14,5.69,7.6,9.3,12.53,7.67,5.97];

export default {
    components: {
      Grafico,
      SelectInstituto,
      ICMS,
      Arrecada,
      Gastos,
    },
    watch: {
      institutoA() {
        console.log('asdf');
      }
    },
    methods: {
      limpar() {
        this.limpezaX = null;
      },
    },
    data() {
      let resp;
      var self = this;
      self.limpezaX = {data: inflacao, nome: el.target[el.target.selectedIndex].innerText};

      return {
        message: "",
        limpezaX: [],
        limpezaY: [],
        limpezaArea: [],
        institutoA: 0,
        institutoB: 0,
      }
    }
}
</script>

<style scoped>
    .wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
    .wrapper > div {
    width: 400px;
    }
    .x {
      display: block;
      justify-self: center;
      align-self: center;
      margin: auto;
      width: auto !important;
    }
    .x > div {
      width: auto !important;
    }
</style>
