<template>
<div>
  oi
  <Compareinst/>
</div>
</template>
<script>
import Compareinst from "../components/Compareinst.vue";
export default {
    components: {
        Compareinst
    }
}
</script>
<style>

</style>