<template>
  <div>
    <Navbar/>
    <router-view/>
    <Footer/>
  </div>
</template>

<script>
import Footer from '../components/Footer.vue';
import Navbar from '../components/Navbar.vue';
import Grafico from "../components/Grafico.vue";

export default {
  components: {
    Footer,
    Navbar,
    Grafico
  }
}

</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto');

@keyframes transparencyanim {
  from {opacity: 0;}
  to {opacity: 1;}
}

html {
  opacity: 0;
  animation-name: transparencyanim;
  animation-duration: 1.5s;
  opacity: 1;
}

* {
   font-family: 'Montserrat', sans-serif !important;
}

title {
  font-family: 'Roboto', sans-serif !important;
}
</style>
