<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
import Footer from './components/Footer.vue';
import 'bulma/css/bulma.css';

export default {
  name: 'app',
  components: {
    Footer
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.body{
  min-height: 100%;
}
</style>
